<h1>Tournament Data</h1>  
<p *ngIf="!tournamentlist"><em>Loading...</em></p>  
<p> <a [routerLink]="['/addtournament']">Create New</a> </p>  
<table class='table table-bordered' *ngIf="tournamentlist">  
    <thead style="background-color:green;font-weight:bold;color:white;">  
        <tr>  
            <th>TournamentID</th>  
            <th>TournamentName</th>  
            <th>Place</th>  
            <th>Type</th>  
            <th>PrizePool</th>
            <th>DateStart</th>
            <th>DateEnd</th>
            <th>Description</th>
            <th>Game</th>
            <th>Actions</th>     
        </tr>  
    </thead>  
    <tbody>  
        <tr *ngFor="let tour of tournamentlist">  
            <td>{{ tour.id }}</td>  
            <td>{{ tour.tournamentName}}</td>  
            <td>{{ tour.place }}</td>  
            <td>{{ tour.type }}</td>  
            <td>{{ tour.prizePool }}</td>  
            <td>{{ tour.dateStart }}</td>
            <td>{{ tour.dateEnd }}</td>
            <td>{{ tour.description }}</td>
            <td>{{ tour.game }}</td>         
            <td> <a [routerLink]="['/tournament/edit/',tour.id]">Edit</a> | <a [routerLink]="" (click)="deleteTournament(tour.id)">Delete</a> | <a  [routerLink]="['/lobby/getcreatedbytournament/',tour.id]">Show lobby</a> |  <a  [routerLink]="['/teams/',tour.id]">Show teams</a>  </td>  
        </tr>  
    </tbody>  
</table> 