<!DOCTYPE html>  
<html>  
  
<head>  
    <meta charset="utf-8" />  
    <title></title>  
</head>  
  
<body>  
    <h1 translate>{{title}}</h1>  
    <h3 translate>Team</h3>  
    <hr />  
    <form [formGroup]="teamForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>  
        <div class="form-group row"> <label translate class=" control-label col-md-12" for="teamName">Team Name</label>  
            <div class="col-md-4"> <input class="form-control" type="text" formControlName="teamName"> </div> <span class="text-danger" *ngIf="teamForm.hasError('required', 'teamName') && formDir.submitted">  
Team Name is required.  
</span> </div>  
        <div class="form-group row"> <label translate class=" control-label col-md-12" for="tag">Tag</label>  
            <div class="col-md-4"> <input class="form-control" type="text" formControlName="tag"> </div> <span class="text-danger" *ngIf="teamForm.hasError('required', 'tag') && formDir.submitted">  
Tag is required.  
</span> </div>  
        <div class="form-group row"> <label translate class="control-label col-md-12" for="numberOfPlayers">Number of players</label>  
            <div class="col-md-4"> <input class="form-control" type="number" formControlName="numberOfPlayers"> </div> <span class="text-danger" *ngIf="teamForm.hasError('required', 'numberOfPlayers') && formDir.submitted">  
Number of players is required  
</span> </div>  
       
<div class="form-group"> <button translate type="submit" class="btn btn-default">Save</button> <button translate class="btn" (click)="cancel()">Cancel</button> </div>  
    </form>  
</body>  
</html>  