<h1 translate >Teams</h1>  
<p *ngIf="!teamlist"><em>Loading...</em></p>  
<p> <a translate [routerLink]="['/addteam']">Create New Team</a> </p>  
<table class='table table-bordered' *ngIf="teamlist">  
    <thead style="background-color:green;font-weight:bold;color:white;">  
        <tr>  
            <th translate>TeamID</th>  
            <th translate>Team Name</th>  
            <th translate>Tag</th>  
            <th translate>Number of players</th>     
            <th translate>Actions</th>
        </tr>  
    </thead>  
    <tbody>  
        <tr *ngFor="let team of teamlist">  
            <td>{{ team.id }}</td>  
            <td>{{ team.teamName}}</td>  
            <td>{{ team.tag }}</td>  
            <td>{{ team.numberOfPlayers }}</td>      
            <td> <a translate [routerLink]="['/team/edit/',team.id]">Edit</a> | <a translate [routerLink]="" (click)="deleteTeam(team.id)">Delete</a> | <a translate [routerLink]="['/players',team.id]">Show players</a>  </td>  
        </tr>  
    </tbody>  
</table> 