<!DOCTYPE html>  
<html>  
  
<head>  
    <meta charset="utf-8" />  
    <title></title>  
</head>  
  
<body>  
    <h1 translate>{{title}}</h1>  
    <h3 translate>Lobby</h3>  
    <hr />  
    <form [formGroup]="lobbyForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>  
        <div class="form-group row"> <label translate class=" control-label col-md-12" for="Winner">Winner</label>  
            <div class="col-md-4"> <input class="form-control" type="text" formControlName="winner"> </div> <span class="text-danger" *ngIf="lobbyForm.hasError('required', 'winner') && formDir.submitted">  
Winner is required.  
</span> </div>  
        <div class="form-group row"> <label translate class=" control-label col-md-12" for="PrizePool">Score winner</label>  
            <div class="col-md-4"> <input class="form-control" type="number" formControlName="scoreWinner"> </div> <span class="text-danger" *ngIf="lobbyForm.hasError('required', 'scoreWinner') && formDir.submitted">  
Winner's Score is required.  
</span> </div>  
        <div class="form-group row"> <label  translate class="control-label col-md-12" for="ScoreLoser">Score loser</label>  
            <div class="col-md-4"> <input class="form-control" type="number" formControlName="scoreLoser"> </div> <span class="text-danger" *ngIf="lobbyForm.hasError('required', 'scoreLoser') && formDir.submitted">  
Loser's Score is required  
</span> </div>  
       <!-- <div class="form-group row"> <label class="control-label col-md-12" for="TournamentId">Tournament Id</label>  
            <div class="col-md-4"> <input class="form-control" type="text" formControlName="tournamentId"> </div> <span class="text-danger" *ngIf="lobbyForm.hasError('required', 'tournamentId') && formDir.submitted">  
Tournament Id is required  
</span></div>-->
<div class="form-group row"> <label translate class="control-label col-md-12" for="DateStart">Date Start</label>  
    <div class="col-md-4"> <input class="form-control" type="date" formControlName="dateStart"> </div> <span class="text-danger" *ngIf="lobbyForm.hasError('required', 'dateStart') && formDir.submitted">  
Date Start is required  
</span></div>
<div class="form-group row"> <label translate class="control-label col-md-12" for="DateStart">Team Radiant</label>  
    <div class="col-md-4"> <select class="form-control" type="text" formControlName="radiant_team_name"><option *ngFor="let team of teamlist" [value]="team.teamName">{{team.teamName}}</option></select> </div> <span class="text-danger" *ngIf="lobbyForm.hasError('required', 'radiant_team_name') && formDir.submitted">  
Team Radiant is required  
</span></div>
<div class="form-group row"> <label translate class="control-label col-md-12" for="DateStart">Team Dire</label>  
    <div class="col-md-4"> <select class="form-control" type="text" formControlName="dire_team_name"><option *ngFor="let team of teamlist">{{team.teamName}}</option></select> </div> <span class="text-danger" *ngIf="lobbyForm.hasError('required', 'dire_team_name') && formDir.submitted">  
Team Dire is required  
</span></div>

<div class="form-group"> <button type="submit" class="btn btn-default">Save</button> <button class="btn" (click)="cancel()">Cancel</button> </div>  
    </form>  
</body>  
</html>  